<% provide(:title, "About") %>

<h1>About</h1>
    <p>
        This is the About page of the Sample App
        <li><a href= https://sample-app-lorddata.c9.io/static_pages/home> Home</a></li>
        <li><a href= https://sample-app-lorddata.c9.io/static_pages/help> Help</a></li>
    </p>

