<h1>Sample App Help</h1>
<p>
    This is the Help page for the Sample App:
    <li> <a href= "http://www.railstutorial.org/#help"> Rails Help</a></li>
    <li> <a href= "http://www.railstutorial.org/book"> Ayy IMAO</a></li>
</p>
